{% include "header.html" %}

<div id="experience">
    <h2> EXPERIENCE </h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='images/kv.jpeg') }}">
            </div>
            <div class="col-lg-6">
                <p> As The Chief Organiser for sports at my School, I had to work on arranging and organising for every sports related event on campus  
                    at K.V. IOC Noonmati <br>
                        My work here Included: 
                    <ul>
                        <li class ="point">Scheduling time for all events, making sure that nothing overlapped.</li>
                        <li class ="point">Overseeing the maintenance for the fields as well examining it close to the events.</li>
                        <li class ="point">Selection of players for all teams, and all sports</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
