{% include "header.html" %}

<div id="projects">
        <h2> PROJECTS </h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ url_for('static', filename='images/sten.jpg') }}">
                </div>
                <div class="col-lg-6">
                    <p> Stenography is the art of hiding text into something else. For me, that was an Image. Available on github, my program can encode and decode any text into any given message utilising python and a few of its libraries. 
                        Using Python: PIL, path, sys, Rsa<br> <br>
                        I wish to work on this further and encrypt the digest before encoding, such that even if someone knew that a given image was Stenographed, it will be impossible to get the data.<br>
                    Link: <a href="https://github.com/AneeshSahu/Stenography">github.com/AneeshSahu/Stenography</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p> Peer to peer chatting is the concept of sending data between two or more computers without one acting as a server, rather in this system all computers are treated the same. Available on github, this program enables any two computers that to connect to each other and pass along messages.  
                        Utilising Python: Socket and threading<br> <br>
                        I wish to work on this further and learn how to stop collisions between threads in which both try to print in the same cycle. Further Encryption of the data transmitted is an must<br>
                    Link: <a href="https://github.com/AneeshSahu/Chat_p2p">github.com/AneeshSahu/Chat_p2p</a></p>
                </div>
                <div class="col-lg-6">
                    <img src="{{ url_for('static', filename='images/Chatp2p.jpg') }}">
                </div>

            </div>
        </div>

    </div>

{% include "footer.html" %}
